@charset "utf-8";
html,body{margin:0;padding:0;width:100%;}
body{ background-image:url(../images/bg.jpg); background-position: center top; background-color:#3e89d8; font-size:12px; font-family:"微软雅黑";}
p,ul,.name,.pwd,dd,h1,h2,h3,form,input,select,textarea{margin:0;padding:0;border:0;font-family:"微软雅黑";line-height:150%;}
ul,li{list-style:none;}
div,p{word-wrap: break-word;}
img{border: none;}
input,button,select,textarea{outline:none}
@font-face {font-family:myFont; src:url(../fonts/方正正准黑简体.ttf);}  



/*logo*/
.logo_01{width:149px;height:131px;margin:0 auto;margin-top:150px;}
.logo_02{height:26px;margin-top:42px;color: #333;font-size: xx-large;text-align:center}
.logo_01 img{width:149px;height:131px;}
.logo_02 img{width:277px;height:26px;}
#Logo{ width:514px; height:343px;margin:60px auto; }
#Logo .text{ padding:100px 0 0 140px;}
#Logo .text span{ color:#fff; font-size:20px; font-family:myFont; font-weight:650;}

#Logo .form{ width:480px; height:186px; margin:20px 8px 8px 8px;filter:alpha(opacity=70);opacity:0.7; background-color:#fff;;padding:20px;border-radius:10px;} 
#Logo .form .form_box{ width:466px; height:122px; background-color:#FFF;padding:13px 0px 0px 32px;}
#Logo .form .form_box p{ width:442px; height:34px; line-height:34px; border-bottom:1px solid #ccc;}
#Logo .form .form_box p img{ margin:0px 13px -2px 0px;}
#Logo .form .form_box p input{ width:410px; height:34px;}
#Logo .form .form_box p.che{ height:50px; line-height:50px; border-bottom:none; color:#666;}


#Logo .form .form_box p.che input{ width:15px; height:14px; margin-bottom: -2px;}




#Logo .form .form_submit{ height:41px; margin:10px auto; background-image:url(../images/submit.png); border-radius:6px;}
#Logo .form .form_submit a{display:block; height:41px;width:498px;}

.footbox{width:600px;line-height:24px;font-size:14px;margin:0 auto;color:#000;text-align:center;}














